/*課題用css*/

body{
	background-color:#ffffff;
	scrollbar-face-color: #ffffff;       /* 表面の色 */
	scrollbar-3dlight-color: #e9e0d1;    /* 左端と上端の色 */
	scrollbar-highlight-color: #ffffff;  /* ハイライトの色 */
	scrollbar-shadow-color: #ffffff;     /* 影の色 */
	scrollbar-darkshadow-color: #e9e0d1; /* 右端と下端 */
	scrollbar-arrow-color: #e9e0d1;      /* 矢印の色 */
	scrollbar-track-color: #ffffff;      /* バーの背景の色 */
}

hr{
	color:#656567; /* 線の色(IE用) */
	background-color: #656567; /* 線の色(NN用) */
	height:1px;
	border:1px; /* 枠の太さ */
	border-style: dotted; /* 枠の種類 */
}

h3{
	color:#89100a;
}

a{
	color:#656567;
	font-size:10pt;
	text-decoration:none;
}	

a:visited {
	color:#ff0000;
	font-size:10pt;
	text-decoration:none;
}

a:active {
	color:#0000ff;
	font-size:10pt;
	text-decoration:none;

}

a:hover {
	color:#0000ff;
	font-size:10pt;
	text-decoration:none;
}

div.message{
	font-size:9pt;
	color:#ff0000;
}