<!-- Project:課題05
Auther:ie3a No.20, 村田直人
Date: 2016年06月09日
-->
<html>
    
    <head>
        <title>{$title}</title>
        <link rel="stylesheet" href="./css/kad.css"/>
    </head>
    <body>
        <h3>課題05　Smartyの利用(ユーザ認証)</h3>
        <hr>
        <p>
        <form action="Kad05.php" method="post">
            
            <label for="namae">ユーザID:<input type="text" name="name" id="namae" /></label><br>
            <label for="pass">パスワード:<input type="password" name="pass" id="pass" /></label><br>
            <button type="submit" value="押す" name="sub">押す</button>
            <button type="reser">リセット</button>
        </form>
        </p>
        {$message}
    </body>
</html>
