<html>
    
    <head>
    <meta character="utf-8">
        <title>課題08</title>
        <link rel="stylesheet" href="./css/blogcss.css"/>
    </head>
    <body>
        <h3 class="t">課題08　MySQLiの利用1(ブログ)</h3>
        <hr>
        <p>
            {foreach from=$b_data item=contents}
                <div class="blog">
                    {$contents}
                    &nbsp;<font size=-1 color="#656567">投稿者:PHP-WEB</font>
                
        </p>
        </div>
        <br>
        {/foreach}
    </body>
</html>
