<!--
Project:課題05
Auther:ie3a No.20, 村田直人
Date: 2016年06月09日
-->
<html>
    
    <head>
        <title>課題05</title>
        <link rel="stylesheet" href="./css/kad.css"/>
    </head>
    <body>
        <h3>課題05　Smartyの利用(ユーザ認証)</h3>
        <hr>
        <p>
            {$name}さんログイン成功です
        </p>
        <p>
            <a href="Kad05.php">ログインページへ</a>
        </p>
    </body>
</html>
