<html>
    <head><title>{$title}</title></head>
    <body>
        クラス：{$class}<br>
        出席番号:{$no}<br>
        氏名:{$name}<br>
        
        <h3>お世話になった先生</h3>
        {foreach from=$etc item=a_item key=id}
            <font color="ff0000">{$a_item}</font>先生<br>
        {/foreach}
    </body>
</html>